@charset "UTF-8";

/* CSS - Santé | Codificado por: Ueek Agência Digital | Ano: 2020 */

/******************* Gerais *********************/

* {
	box-sizing: border-box;
	-webkit-font-smoothing:antialiased;
	   -moz-font-smoothing:antialiased;
		-ms-font-smoothing:antialiased;
		 -o-font-smoothing:antialiased;
		 	font-smoothing:antialiased;
	margin: 0;
	outline: 0;
	padding: 0;
}

a {
	cursor:pointer;
	text-decoration:none;
}

br { clear:both; }

input, textarea, select { outline: none; }

html, body{
    height: 100%;
    width: 100%;
}

body {
	color: #272727;
	font-family: 'Open Sans';
	font-display: auto;
	font-size: 18px;
}

strong, b { font-weight: 700; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

table { 
  width: 100%; 
  border-collapse: collapse; 
}

.soft-hover {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 50);
	filter: alpha(opacity = 50);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.container-fluid { padding: 0; }

::placeholder { color: #9B9B9B; } 
 
:-ms-input-placeholder { color: #9B9B9B; } 
  
::-ms-input-placeholder { color: #9B9B9B; } 

/******************* Gerais *********************/


/******************** Topo **********************/

.responsive { display: none; }

.small-left-arrow {
	display: none;
    margin-left: 10px;
    margin-top: 6%;
    position: absolute;
}

.small-right-arrow {
    margin-left: 125px;
    margin-top: 6%;
    position: absolute;
}

#menu-responsive { display: none }

header#top #bar-header {
    background: #3D5722;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
    height: 50px;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 4;
}   

header#top #bar-header ul {
    float: right;
    list-style: none;
    padding-top: 10px;
    width: 20%;
    justify-content: space-between;
    display: flex;
    padding-right: 10px;
    margin-bottom: 0;
}


header#top #bar-header ul li { float: left; }

header#top #bar-header ul li i { color: #BFCE46; }

header#top #bar-header ul a:hover i { color: #fbfbfb; }

header#top #header-desktop {
    background: #FFFFFF;
	box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
	padding-bottom: 20px;
	padding-top: 30px;
	position: fixed;
    top: 50px;
    z-index: 3;

    -o-transition: top 400ms ease;
    -moz-transition: top 400ms ease;
    -webkit-transition: top 400ms ease;
    transition: top 400ms ease;
}

header#top #header-desktop .logo { 
	float: left; 
	padding-left: 0
}

header#top #header-desktop .logo img { height: 90px; }

header#top #header-desktop .infos {
    float: left;
    margin-top: 15px;
}

header#top #header-desktop .infos ul {
    display: flex;
    float: right;
    justify-content: space-between;
    list-style: none;
    margin-top: 25px;
    width: 70%;
}

header#top #header-desktop .infos ul li i { 
    color: #B6C72C;
    float: left;
    font-size: 24px;
    margin-right: 15px; 
}

header#top #header-desktop .infos ul li span,
header#top #header-desktop .infos ul li p { 
    color: #0E3951;
    float: left;
    font-size: 12px;
    line-height: 16px;
}

header#top #header-desktop .infos ul li span {
    color: #747474;
    font-weight: bold;
    margin-top: -5px;
}

header#top #header-desktop .infos ul li a { 
    cursor: auto;
    display: inline-block; 
}

header#top #header-desktop .infos ul li a[href] { cursor: pointer; }

header#top #header-desktop .infos ul li a[href]:hover p { text-decoration: underline; }

header#top #header-desktop .infos ul li a p {
    color: #747474;
    margin-bottom: 0;
}

header#top #menu-desktop {
    background: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 190px;
    z-index: 2;

    -o-transition: top 400ms ease;
    -moz-transition: top 400ms ease;
    -webkit-transition: top 400ms ease;
    transition: top 400ms ease;
}

header#top #menu-desktop ul {
    display: flex;
    justify-content: space-between;
    padding-right: 8px;
    padding-top: 17px;
}

header#top #menu-desktop ul li { 
    list-style: none; 
    position: relative;
}

header#top #menu-desktop ul li a {
	color: #747474;
	font-size: 14px;
	line-height: 19px;
}

header#top #menu-desktop ul li a:hover,
header#top #menu-desktop ul li a.active {
    color: #B6C72C;
    text-decoration: none;
    text-shadow: 0 0 2px #b6c72c;
}

header#top #menu-desktop ul li a.drop:hover,
header#top #menu-desktop ul li a.drop.active {
    color: #3D5722;
    text-decoration: none;
    text-shadow: 0 0 2px #3D5722;
}

/* Dropdowns do menu */

header#top #menu-desktop nav#menu ul .drop-1:hover .drop-content-1, 
header#top #menu-desktop nav#menu ul .drop-2:hover .drop-content-2 { display: block }

header#top #menu-desktop nav#menu ul .drop-1 .drop-content-1,
header#top #menu-desktop nav#menu ul .drop-2 .drop-content-2 {
	border-radius: 5px;
	box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
    display: none; 
    min-height: 165px;
    position: absolute;
    width: 210px;
    z-index: 2;
}

header#top #menu-desktop nav#menu ul .drop-1 .drop-content-1 ul, 
header#top #menu-desktop nav#menu ul .drop-2 .drop-content-2 ul {
    display: inline-block!important;
    padding-bottom: 20px;
    padding-right: 0;
    padding-top: 15px!important;
    width: 100%;
}

header#top #menu-desktop nav#menu ul .drop-1 .drop-content-1 ul li a, 
header#top #menu-desktop nav#menu ul .drop-2 .drop-content-2 ul li a {
	color: #B6C72C;
	display: block;
	font-size: 14px;
	line-height: 19px;
    padding: 10px 0px;
    text-align: center;
}

header#top #menu-desktop nav#menu ul .drop-1 .drop-content-1 ul li a.drop-link-1,
header#top #menu-desktop nav#menu ul .drop-2 .drop-content-2 ul li a.drop-link-2 { 
	font-weight: 400; 
	line-height: 25px!important; 

	transition: font-weight 0.3s ease-in-out;
	-webkit-transition: font-weight  0.3s ease;
	-moz-transition: font-weight  0.3s ease;
	-o-transition: font-weight  0.3s ease;
}

header#top #menu-desktop nav#menu ul .drop-1 .drop-content-1 ul li a span,
header#top #menu-desktop nav#menu ul .drop-2 .drop-content-2 ul li a span {
    color: #FFFFFF;
    display: grid;
	font-size: 9px;
    font-style: italic;
    font-weight: 600;
	letter-spacing: 0.02em;
	line-height: 12px;
	text-align: center;
}

header#top #menu-desktop nav#menu ul .drop-1 .drop-content-1 ul li:hover a.drop-link-1,
header#top #menu-desktop nav#menu ul .drop-2 .drop-content-2 ul li:hover a.drop-link-2 { 
	font-weight: 700; 
	text-decoration: none!important;
	text-shadow: none!important;
}

header#top #menu-desktop nav#menu ul .drop-1 .drop-content-1 {
    background: #3D5722;
    margin-left: -60px;
}

header#top #menu-desktop nav#menu ul .drop-2 .drop-content-2 {
    background-color: #B6C72C;
    left: 210px;
    top: 0;	
}

header#top #menu-desktop nav#menu ul .drop-1 .drop-content-1 ul li a { color: #B6C72C!important; }

header#top #menu-desktop nav#menu ul .drop-2 .drop-content-2 ul li a { color: #3D5722!important; }

header#top #menu-desktop nav#menu ul .drop-2 li { position: relative; }

header#top #menu-desktop nav#menu ul .drop-2 .left-arrow {
	display: none;
    left: 15px;
    position: absolute;
    top: 50%;
}

header#top #menu-desktop nav#menu ul .drop-2 .right-arrow {
    right: 15px;
    top: 50%;
    position: absolute;
}

/******************** Topo **********************/

/****************** Conteúdo ********************/

.btn {
    border: none;
    border-radius: 25px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 35px;    
    text-align: center;
    text-transform: capitalize;
}

.btn:focus { box-shadow: none; }


/******* Banner *********/

section#inicio .fullbanner.banner-mobile { display: none; }

section#inicio .fullbanner .item-banner {
    align-items: flex-end;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    display: flex;
    float: left;
    height: 100vh;
    width: 100%;
}

section#inicio .fullbanner .item-banner .content-banner { margin-bottom: 105px; }

section#inicio .fullbanner .item-banner .content-banner h1 {
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 38px;
    margin-bottom: 30px;
    margin-top: 25px;
    width: 360px;
}

section#inicio .fullbanner .item-banner .content-banner p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 45px;
    width: 330px;
}

section#inicio .fullbanner .item-banner.video .content-banner { 
    text-align: center; 
    top: 50%;
}

section#inicio .fullbanner .item-banner.video .content-banner h1 { width: 100% }

section#inicio .fullbanner .item-banner.video .content-banner p { width: 100% }

section#inicio .fullbanner .item-banner .content-banner .btn {
    color: #FFFFFF;
    /*margin-right: 20px;*/

    box-shadow:inset 0px 0px 0px 1.5px #fff;
    -webkit-box-shadow:inset 0px 0px 0px 1.5px #fff;
    -moz-box-shadow:inset 0px 0px 0px 1.5px #fff;
}

section#inicio .fullbanner .item-banner .content-banner .btn:hover {
    background: #B6C72C; 
    box-shadow: none;
    color: #3D5722;
    text-decoration: none;
}

section#inicio .fullbanner .owl-dots {
	left: 0; 
	margin-left: auto; 
	margin-right: auto; 
    position: absolute; 
	right: 0; 
    top: 94%;
}

section#inicio .fullbanner .owl-dots .owl-dot span { background: #E2EAEB; }

section#inicio .fullbanner .owl-dots .owl-dot span:focus { outline: none; }

section#inicio .fullbanner .owl-dots .owl-dot.active span, 
section#inicio .fullbanner .owl-dots .owl-dot:hover span { background: #B6C72C; }

section#inicio .fullbanner .owl-nav {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: 55%;
    width: 98%;
}

section#inicio .fullbanner .owl-nav i {
	color: #fff;
	text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
}

section#inicio .fullbanner .owl-nav button:focus { outline: none; }

section#inicio .fullbanner .owl-nav button:hover {
    background: transparent;
    color: #fff;
    text-decoration: none;
}

section#inicio .fullbanner .owl-nav .owl-prev { float: left; }

section#inicio .fullbanner .owl-nav .owl-next { float: right; }

/******* Banner *********/

/****** Destaques *******/

section#destaques {
	background: linear-gradient(0deg, rgba(228, 228, 228, 0.3) 0%, rgba(228, 228, 228, 0) 100%);
	padding-bottom: 40px;
	padding-top: 60px;
}

section#destaques .container { padding: 0 }

section#destaques .item { float: left; }

section#destaques .item .img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 50px;
}

section#destaques .item h2 {
	color: #747474;
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    padding-top: 20px;
}

section#destaques .item p {
    color: #747474;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
}

section#destaques .item a {
	color: #B6C72C;
	font-size: 12px;
    font-weight: 600;
	line-height: 16px;
}

/***** Destaques ******/


/***** Sobre Nós ******/

section#sobre-nos {
    padding-bottom: 80px;
	padding-top: 80px;
}

section#sobre-nos .header { padding-bottom: 70px; }

section#sobre-nos .header img {
    margin-left: -5px;
    height: 40px;
}

section#sobre-nos #img-about-us {
    background-position: bottom 11px center, top 0px left 65px;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 430px, auto;
    height: 470px;
}

section#sobre-nos #content-about-us h1 {
	color: #747474;
	font-size: 30px;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 0;
    margin-top: 30px;
	padding-bottom: 20px;
	position: relative;
}

section#sobre-nos #content-about-us h1:before {
	content: "";
	position: absolute;
	left: 3px;
	bottom: 0;
	width: 20px;
	border-bottom: 3px solid #B6C72C;
}

section#sobre-nos #content-about-us p {
    color: #747474;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 25px;
    margin-top: 30px;
}

section#sobre-nos #content-about-us .btn {
	background: #B6C72C; 
    box-shadow: none;
    color: #3D5722;
    text-decoration: none;
}

section#sobre-nos #content-about-us .btn:hover {
	background: transparent;
    color: #3D5722;

    box-shadow:inset 0px 0px 0px 1.5px #3D5722;
    -webkit-box-shadow:inset 0px 0px 0px 1.5px #3D5722;
    -moz-box-shadow:inset 0px 0px 0px 1.5px #3D5722;
}

/***** Sobre Nós ******/


/***** Serviços ******/

section#servicos {
    background: rgba(228, 228, 228, 0.3);
    padding-bottom: 210px;
    padding-top: 100px;
}

section#servicos #slide { position: relative; }

section#servicos #slide .header { padding-bottom: 70px; }

section#servicos #slide .header img { 
	float: left; 
	margin-left: -5px;
}

section#servicos #slide h1 {
	color: #747474;
	font-size: 30px;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 0;
	padding-bottom: 20px;
	position: relative;
}

section#servicos #slide h1:before {
	content: "";
	position: absolute;
	left: 3px;
	bottom: 0;
	width: 20px;
	border-bottom: 3px solid #B6C72C;
}

section#servicos #slide p {
	color: #747474;
	font-size: 14px;
	line-height: 28px;
	margin-top: 35px;	
	width: 270px;
}

section#servicos #slide #slide-cards {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
}

section#servicos #slide #slide-cards .owl-stage-outer { padding-bottom: 10px; } 

section#servicos #slide #slide-cards .item-banner .card {
    background: #FFFFFF;
    border: none;
    border-radius: 0;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
    float: left;
    height: 435px;
    width: 350px;
}

section#servicos #slide #slide-cards .item-banner .card  .card-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    min-height: 195px;
}

section#servicos #slide #slide-cards .item-banner .card .card-body { 
    min-height: 215px;
    padding: 10px 30px; 
}

section#servicos #slide #slide-cards .item-banner .card .card-body .card-title.btn {
    background: #B6C72C; 
    box-shadow: none;
	color: #FFFFFF;
	cursor: auto;
    font-size: 12px;
    font-weight: 600;
	line-height: 16px;
	margin-bottom: 0;
	padding: 15px 20px;
    position: relative;
	text-align: center;
	text-transform: uppercase;
    top: -40px;
}

section#servicos #slide #slide-cards .item-banner .card .card-body .card-text {
    color: #979797;
    font-size: 11px;
    line-height: 18px;
    position: relative;
    top: -15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
}

section#servicos #slide #slide-cards .item-banner .card .card-body .card-text ul {
    justify-content: space-between;
    list-style: none;
}

section#servicos #slide #slide-cards .item-banner .card .card-body .card-text ul li {
	color: #747474;
	font-size: 14px;
	line-height: 35px;
}

section#servicos #slide #slide-cards .item-banner .card .card-body .card-text ul li:before {
    content: "\2022";
    color: #b6c72c;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: 0em;
}

section#servicos #slide #slide-cards .item-banner .card .card-body .card-text a {
    color: #B6C72C;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    position: relative;
    text-decoration-line: underline;
    text-transform: uppercase;
}

section#servicos #slide #slide-cards .item-banner .card .card-body .card-text a svg {
    position: absolute;
    right: 0;
    top: 3px;
}

section#servicos #slide #slide-cards .owl-nav { 
    margin-top: 15px;
	text-align: left; 
}

section#servicos #slide #slide-cards .owl-nav i {
    color: #fff;
    font-size: 14px;
    padding: 12px 13px;
}

section#servicos #slide #slide-cards button { 
	background-color: #B6C72C;
	border-radius: 50%; 
	margin-left: 0;
	margin-right: 20px;

	transition: background-color 0.3s ease-in-out;
	-webkit-transition: background-color  0.3s ease;
	-moz-transition: background-color  0.3s ease;
	-o-transition: background-color  0.3s ease;
}

section#servicos #slide #slide-cards button.disabled { background-color: #E1E1E1; }

section#servicos #slide #slide-cards button:focus { outline: none; }

/***** Serviços ******/


/** Ensino e Pesquisa **/

section#ensino #parallax {
	background-attachment: fixed;
	background-image: url("/img/parallax.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 560px; 
}

section#ensino #parallax #content {
	background-color: #244800b5;
	height: inherit;
	padding-bottom: 70px;
	padding-top: 75px;
}

section#ensino #parallax #content #img-parallax {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 420px;
}

section#ensino #parallax #content #content-parallax h2 {
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 0;
    margin-top: 70px;
	padding-bottom: 20px;
	position: relative;
}

section#ensino #parallax #content #content-parallax h2:before {
	content: "";
	position: absolute;
	left: 3px;
	bottom: 0;
	width: 20px;
	border-bottom: 3px solid #B6C72C;
}

section#ensino #parallax #content #content-parallax p {
	color: #FFFFFF;
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 50px;
	margin-top: 35px;
}

section#ensino #parallax #content #content-parallax .btn {
	background: #B6C72C; 
    box-shadow: none;
    color: #3D5722;
    text-decoration: none;
}

section#ensino #parallax #content #content-parallax .btn:hover {
	background: transparent;
    color: #fff;

    box-shadow:inset 0px 0px 0px 1.5px #fff;
    -webkit-box-shadow:inset 0px 0px 0px 1.5px #fff;
    -moz-box-shadow:inset 0px 0px 0px 1.5px #fff;
}

/** Ensino e Pesquisa **/


/******* Blog *********/

section#blog {
    margin-top: 250px;
	padding-bottom: 45px;
	padding-top: 50px;
}

section#blog .header {
	margin-bottom: 25px;
	text-align: center;
	width: 100%;
}

section#blog .posts .card {
    background: #FFFFFF;
    border: none;
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.13);
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    width: 30.5%;
}

section#blog .posts .card .card-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    height: 230px;
}

section#blog .posts .card .card-body,
section#blog .posts .card .card-footer { padding: 20px 30px; }

section#blog .posts .card .card-body { height: 140px; }

section#blog .posts .card .card-body .card-title {
	color: #747474;
	font-size: 18px;
    font-weight: 600;
    /*height: 65px;*/
	line-height: 22px;
	margin-bottom: 15px;
    padding-bottom: 20px;
    position: relative;
}

section#blog .posts .card .card-body .card-title:after {
    background: #B6C72C;
    border-radius: 5px;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 20px;
}

/*section#blog .posts .card .card-body hr {
	border-bottom: 3px solid #B6C72C;
    border-radius: 5px;
    width: 20px;
}*/

/*section#blog .posts .card .card-body .card-text {
	color: #747474;
    font-size: 14px;
	line-height: 22px;
    max-height: 40px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

section#blog .posts .card .card-body .card-text:before {
    content:'';
    width:100%;
    height:100%;    
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 10px, white);
}*/

section#blog .posts .card .card-footer {
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	border-top: 1px solid #E4E4E4;
}

section#blog .posts .card .card-footer span { display: block; }

section#blog .posts .card .card-footer span.author { 
	color: #B6C72C;
	font-size: 11px;
	font-weight: 600;
	line-height: 22px;
}

section#blog .posts .card .card-footer span.date { 
	color: #747474;
	font-size: 9px;
	line-height: 22px;
	text-transform: uppercase;
}

section#blog .bottom {
    margin-top: 45px;
    text-align: center;
}

section#blog .bottom .btn {
	background: #B6C72C; 
    box-shadow: none;
    color: #3D5722;
    padding: 15px 60px;
    text-decoration: none;
}

section#blog .bottom .btn:hover {
	background: transparent;
    color: #3D5722;

    box-shadow:inset 0px 0px 0px 1.5px #3D5722;
    -webkit-box-shadow:inset 0px 0px 0px 1.5px #3D5722;
    -moz-box-shadow:inset 0px 0px 0px 1.5px #3D5722;
}

/******* Blog *********/


/****** Contato *******/

section#contato { 
	background: rgba(228, 228, 228, 0.3); 
	padding-bottom: 75px;
	padding-top: 60px;
}

section#contato .container {
    padding: 0;
    position: relative; 
}

section#contato #area-de-contato {
    position: absolute;
    top: -250px;
}

section#contato #side-left { float: left; }

section#contato #side-left h2 {
	color: #747474;
	font-size: 30px;
	font-weight: bold;
	line-height: 32px;
	padding-bottom: 30px;
	position: relative;
}

section#contato #side-left h2:before {
	content: "";
	position: absolute;
	left: 3px;
	bottom: 0;
	width: 20px;
	border-bottom: 3px solid #B6C72C;
}

section#contato #side-left ul { padding-top: 115px; }

section#contato #side-left ul.nav-tabs {
    border-bottom: none;
    display: block;
}

section#contato #side-left ul.nav-tabs .nav-link {
    border: none;
	color: #B6C72C;
    font-size: 14px;
    font-weight: 600;
	line-height: 35px;
    padding: 0;
	text-decoration-line: underline;
}

section#contato #side-left ul.nav-tabs .nav-link:focus,
section#contato #side-left ul.nav-tabs .nav-link:hover { border: none; }

section#contato #side-left ul.nav-tabs .nav-item.show .nav-link,
section#contato #side-left ul.nav-tabs .nav-link.active {
    background-color: transparent;
    border: none;
    color: #3D5722;
	text-decoration-line: none;
}

section#contato #side-left ul.nav-tabs .nav-link svg { 
    margin-right: 10px; 
    stroke: #B6C72C;
}

section#contato #side-left ul.nav-tabs .nav-item.show .nav-link svg,
section#contato #side-left ul.nav-tabs .nav-link.active svg { stroke: #3D5722 }

section#contato #side-right { float: left; }

section#contato #side-right p {
	color: #747474;
	font-size: 14px;
	line-height: 28px;
    margin-bottom: 95px;
}

section#contato #side-right .inputs {
    float: left;
    padding-left: 0;
}

section#contato #side-right .inputs label {
	color: #747474;
	font-size: 10px;
	line-height: 22px;
	margin-bottom: 0;
	text-transform: uppercase;
}

section#contato #side-right .inputs select, 
section#contato #side-right .inputs input[type="text"], 
section#contato #side-right .inputs input[type="email"] {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #E8E8E8;
    color: #747474;
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 15px;
    padding: 0px;
    width: 100%;
}

section#contato #side-right .inputs select { font-style: italic; }

section#contato #side-right .inputs textarea {
    background-color: #fff;
    border: 1px solid #E8E8E8;
    color: #747474;
    font-size: 11px;
    line-height: 22px;
    margin-top: 10px;
    min-height: 200px;
    padding: 15px;
    width: 100%;
}

section#contato #side-right .file-drop-area {
    border: 1px dashed #BFBFBF;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    height: 230px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 40px;
    position: relative;
    text-align: center;
    transition: 0.3s;
    width: 98%;
}

section#contato #side-right .file-drop-area.is-active { background-color: #f3f3f380; }

section#contato #side-right .file-drop-area .fake-btn {
    border: 1px solid #B6C72C;
    border-radius: 25px;
    color: #B6C72C;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin-top: 25px;
    padding: 10px 40px;
    text-align: center;
}

section#contato #side-right .file-drop-area .text-files h5 {
	color: #898989;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
}

section#contato #side-right .file-drop-area .text-files .file-msg {
    color: #B9B9B9;
    font-size: 13px;
    font-weight: 300;
    height: 45px;
    line-height: 22px;
    margin-bottom: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

section#contato #side-right .file-drop-area .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

section#contato #side-right .file-drop-area .file-input:focus { outline: none; }

section#contato #side-right .inputs .btn {
	background: #B6C72C; 
    box-shadow: none;
    color: #3D5722;
    margin-top: 30px;
    text-decoration: none;
}

section#contato #side-right .inputs .btn:hover {
	background: transparent;
    color: #3D5722;

    box-shadow:inset 0px 0px 0px 1.5px #3D5722;
    -webkit-box-shadow:inset 0px 0px 0px 1.5px #3D5722;
    -moz-box-shadow:inset 0px 0px 0px 1.5px #3D5722;
}

/****** Contato *******/

  
/******* Mapa *********/

section#mapa { height: 650px; }

section#mapa iframe {
    height: 100%;
    width: 100%;
}

/******* Mapa *********/

/****************** Conteúdo ********************/



/******************* Footer *********************/

footer#bottom #info-contact { 
	background-color: #565656;
	padding-bottom: 45px;
	padding-top: 35px;
}

footer#bottom #info-contact .title { 
    float: left; 
    padding-left: 0;
}	

footer#bottom #info-contact .title h1 { 
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	margin-bottom: 0;
}

footer#bottom #info-contact .infos { float: left; }

footer#bottom #info-contact .infos ul {
    display: flex;
    justify-content: space-between; 
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    width: 100%;
}

footer#bottom #info-contact .infos ul li i { 
	color: #B6C72C;
    float: left;
    margin-right: 10px; 
}

footer#bottom #info-contact .infos ul li a { 
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	line-height: 16px;
}

footer#bottom #info-contact .infos ul li a:hover { text-decoration: none }

footer#bottom #links { 
	background: #4A4A4A;
	padding-bottom: 40px; 
	padding-top: 30px;
	border-bottom: 1px solid #353535;
}

footer#bottom #links .nav-menu { 
    float: left; 
    padding-left: 0;
    padding-right: 0;
}

footer#bottom #links .nav-menu .content-nav-menu { 
	float: left; 
	width: 100%;
}

footer#bottom #links .nav-menu .content-nav-menu h3 {
    color: #FFFFFF;
	font-size: 20px;
    font-weight: 600;
	line-height: 30px;
    margin-bottom: 25px;
}

footer#bottom #links .nav-menu .content-nav-menu ul { 
	list-style: none; 
	width: 100%;
}

footer#bottom #links .nav-menu .content-nav-menu ul.site {
    column-count: 3;
    column-gap: 0px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
}

footer#bottom #links .nav-menu .content-nav-menu ul.ajuda {
    column-count: 2;
    column-gap: 30px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
}

footer#bottom #links .nav-menu .content-nav-menu ul li a { 
    color: #FFFFFF;
    font-size: 15px;
    line-height: 30px; 
}  

footer#bottom #links .nav-menu .content-nav-menu ul li a:hover {
    font-weight: bold;
    text-decoration: none;
}

footer#bottom #copyright {
    background: #4A4A4A;
    padding-bottom: 15px;
    padding-top: 15px;
	border-top: 1px solid #6A6A6A;
}

footer#bottom #copyright p { 
	color: #838383;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 0;
    margin-top: 7px;
}

footer#bottom #copyright ul {
    float: right;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0;
    width: 35%;
}

footer#bottom #copyright ul li { float: left; }

footer#bottom #copyright ul li i { 
	color: #B6C72C; 
    font-size: 14px;
}

footer#bottom #copyright ul a:hover i { color: #fbfbfb; }

footer#bottom #copyright img {
	float: right;
    margin-top: 7px;
}


/******************* Footer *********************/


#warning-modal {
    background: #FFFFFF;
    border-radius: 10px;
    display: none;
    overflow: unset;
    padding: 30px 45px;
    position: relative;
    width: 455px;
}

#warning-modal h4 {
    color: #747474;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

#warning-modal hr {
    border: 2px solid #B6C72C;
    border-radius: 3px;
    margin-bottom: 30px;
    margin-top: 35px;
    width: 33px;
}

#warning-modal p {
    color: #747474;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 25px;
}

#warning-modal ul {
    list-style: none;
    margin-bottom: 25px;
}

#warning-modal ul li {
    color: #747474;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
}

#warning-modal ul li:before {
    color: #b6c72c;
    content: "\2022";
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-left: 0em;
    width: 1em;
}

#warning-modal .img {
    background-image: url(../img/covid.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute; 
}

#warning-modal .img#covid-img-1 {
    bottom: -30px;
    height: 70px;
    left: 20px;
    width: 70px;
}

#warning-modal .img#covid-img-2 {
    top: 40%;
    height: 100px;
    right: -35px;
    width: 100px;
}

#cookies-warning {
    background: #fff;
    bottom: 0;
    box-shadow: 0px 0px 70px rgba(0,0,0,0.05);
    display: none;
    font-family: 'Arial', sans-serif;
    padding-bottom: 33px;
    padding-top: 27px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#cookies-warning .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#cookies-warning .content {
    align-items: center;
    display: flex;
}

#cookies-warning .actions .bt-ok-cookie {
    border: none;
    background-color: #3d5722;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    height: 60px;
    text-align: center;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    height: 46px;
    font-weight: 500;
    font-size: 14px;
    margin-right: 30px;
    min-width: 190px;
}

#cookies-warning .actions .bt-ok-cookie:hover {
    background-color: #263716;
    color: #fff;
}

#cookies-warning .actions .see-more-details {
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #CCCCCC;
}

#cookies-warning .section-title {
    color: #b6c72c;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0;
}

#cookies-warning .text {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 0;
}

@media only screen and (max-width: 768px)  {

    #cookies-warning {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    #cookies-warning .container {
        flex-direction: column;
        align-items: flex-start;
    }

    #cookies-warning .content { width: 50%; }

    #cookies-warning .content .icon { margin-right: 20px; }

    #cookies-warning .container .actions {     
        align-self: flex-end;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    #cookies-warning .actions .bt-ok-cookie {
        margin-right: 0;
        margin-left: 30px;
    }
}

@media only screen and (max-width: 425px) {

    #cookies-warning .content {
        width: 100%;
        margin-bottom: 20px;
    }
}