@charset "UTF-8";

/* CSS - Santé | Codificado por: Ueek Agência Digital | Ano: 2019 */

@media only screen and (max-width:1600px) {

	section#inicio .fullbanner .item-banner .content-banner p { width: 40%; }

	section#servicos { padding-bottom: 190px; }

	section#servicos #slide #slide-cards { width: 65%; }

	section#servicos #slide #slide-cards .item-banner .card { width: 320px; }

}

/* Notebooks */
@media only screen and (max-width:1440px) {

	section#servicos #slide #slide-cards { width: 62.5%; }

	section#servicos #slide #slide-cards.owl-carousel .owl-stage { padding-left: 0!important; }

	section#content-article .text p { padding-right: 0; }

	section#content-article .img { height: 255px; }

	section#content .header-title { padding-bottom: 50px; }

}

@media only screen and (max-width:1366px) {

	section#inicio .fullbanner .item-banner .content-banner { margin-bottom: 60px; }

	section#ensino #parallax { height: 520px; }

	section#ensino #parallax #content {
	    padding-bottom: 50px;
	    padding-top: 45px;
	}

	section#mapa { height: 515px; }

	section#content .team-cards .card-doc {
	    height: 300px;
	    padding: 25px 25px 25px 30px;
	}

	footer#bottom #copyright ul { width: 34%; }

}

@media only screen and (max-width:1280px) {

	section#inicio .fullbanner .item-banner .content-banner h1 { width: 50%; }

	section#sobre-nos .header { padding-bottom: 40px; }

	section#servicos #slide #slide-cards { width: 63.5%; }

}

/* Tablets até 1200 */
@media only screen and (max-width:1200px) {

	section#inicio .fullbanner .item-banner .content-banner { margin-bottom: 70px; }

	section#inicio .fullbanner .item-banner .content-banner h1 { width: 60%; }

	section#servicos #slide #slide-cards { width: 64.5%; }

}

/* Tablets */
@media only screen and (max-width:1024px) {

	header#top #bar-header { z-index: 2; }

	header#top #bar-header ul { padding-right: 15px; }

	header#top #menu-responsive { display: block; }

	header#top #menu-desktop,
	header#top #header-desktop { display: none }

	section#inicio .fullbanner.banner-mobile { display: block; }

	section#inicio .fullbanner.banner-desktop { display: none; }

	section#inicio .fullbanner .item-banner { background-position: center; }

	section#inicio .fullbanner .item-banner .content-banner h1 { margin-bottom: 20px; }

	section#inicio .fullbanner .item-banner .content-banner p { 
		line-height: 22px; 
		margin-bottom: 30px
	}

	section#inicio .fullbanner .owl-nav { display: none; }

	section#destaques { padding-top: 50px; }

	section#sobre-nos {
	    padding-bottom: 50px;
	    padding-top: 30px;
	}

	section#servicos #slide #slide-cards .item-banner .card { width: 310px; }

	section#blog { margin-top: 190px }

	section#blog .posts .card,
	section#recommended-posts .posts .card {
	    margin-left: 10px;
	    margin-right: 10px;
	}

	section#blog .posts .card .card-body,
	section#blog .posts .card .card-footer,
	section#recommended-posts .posts .card .card-body,
	section#recommended-posts .posts .card .card-footer { padding: 20px; }

	section#contato { padding-bottom: 50px; }

	section#contato #area-de-contato { top: -170px; }

	footer#bottom #info-contact .infos ul li a { max-width: 450px; }

	footer#bottom #info-contact { padding-bottom: 35px; }

	section#header-page { height: 350px; }

	section#galery {
	    padding-bottom: 60px;
	    padding-top: 60px;
	}

	section#galery #images .img { width: 29.5%; }

	section#content {
	    padding-bottom: 50px;
	    padding-top: 30px;
	}	
	
	section#content .header-title h1 {
	    font-size: 25px;
	    line-height: 27px;
	    margin-top: 20px;
	}

	section#content .team-items .item { width: 45.5%; }

	.accordion .toggle-accordion {
	    line-height: 35px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
	.accordion .toggle-accordion button {
	    padding-left: 40px;
	    position: relative;
	}

	.accordion .toggle-accordion i {
	    position: absolute;
	    left: 0;
	    top: 15px;
	}

	.accordion .collapse .item { width: 45%; }

	section#content-article { 
		padding-top: 50px;
	}

	section#content-article .header-title h1 {
		font-size: 25px;
	    line-height: 27px;
	}

	section#content-article .truebeam-img {
		background-image: url(/img/truebeam-rs.png?vs=2);
		height: 1030px;
	}

	section#header-post { height: 360px; }

	section#content-article .icons-list { grid-template-columns: repeat(4, 1fr); }

	section#destaques-cancer-center,
	section#content-article { margin-top: 170px; }

	section#content { margin-top: 190px; }

}

/* Tablets Menores */
@media only screen and (max-width: 900px) {

	.responsive { display: block; }

	.desktop { display: none; }

	header#top #bar-header ul { 
		padding-right: 0;
		width: 30%; 
	}

	section#inicio .fullbanner .item-banner .content-banner p { width: 50%; }

	section#inicio .fullbanner .item-banner.video .content-banner { top: 45%; }

	section#destaques { padding-bottom: 10px; }

	section#destaques .item { padding-bottom: 30px; }

	section#sobre-nos .header { padding-bottom: 70px }

	section#sobre-nos #img-about-us {
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    height: 265px;
	    position: relative;
	}

	section#sobre-nos #img-about-us:before {
	    background: #B6C72C;
	    content: "";
	    height: 30px;
	    right: 20px;
	    position: absolute;
	    top: -30px;
	    width: 190px;
	}

	section#sobre-nos .text-about { padding-left: 0	} 

	section#sobre-nos .text-about #content-about-us { padding-right: 15px; }

	section#sobre-nos .text-about #content-about-us h1 {
	    font-size: 25px;
	    line-height: 27px;
	    margin-top: 10px;
	}

	section#servicos {
	    padding-bottom: 45px;
	    padding-top: 40px;
	}

	section#servicos #slide .header { padding-bottom: 30px; }

	section#servicos #slide h1 { font-size: 25px; }

	section#servicos #slide p {
	    margin-bottom: 40px; 
	    width: 100%;
	}

	section#servicos #slide #slide-cards {
	    position: unset;
	    width: 88%;
	}

	section#ensino #parallax { height: unset; }

	section#ensino #parallax #content .responsive { padding: 0 }

	section#ensino #parallax #content #content-parallax h2 {
	    font-size: 25px;
	    line-height: 27px;
        margin-bottom: 20px;
	    margin-top: 10px;
	}

	section#ensino #parallax #content #img-parallax { height: 325px }

	section#blog .posts .card { width: 46.5%; }

	section#contato {
	    padding-bottom: 60px;
	    padding-top: 50px;
	}

	section#contato #side-left h2 {
	    font-size: 25px;
	    line-height: 27px;
	}

	section#contato #side-left ul { padding-top: 30px; }

	section#contato #side-right p { margin-bottom: 35px; }

	footer#bottom #info-contact .title h1 { margin-bottom: 20px; }

	footer#bottom #info-contact .infos { padding: 0 }

	footer#bottom #info-contact .infos ul {
		display: unset; 
		justify-content: unset; 
	    margin-top: 35px;
	}

	footer#bottom #info-contact .infos ul li {
	    position: relative;
	    padding-left: 40px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	}

	footer#bottom #info-contact .infos ul li i {
	    position: absolute;
	    left: 0;
	    float: unset;
	    margin-top: 8px;
	}

	footer#bottom #info-contact .infos ul li a { 
		float: unset;
		max-width: unset; 
	}

	footer#bottom #links { padding-bottom: 10px; }

	footer#bottom #links .nav-menu:first-child { display: none; }

	footer#bottom #copyright .social-media { display: none; }

	section#destaques-cancer-center { padding-bottom: 10px; }

	section#destaques-cancer-center .item { padding-bottom: 30px; }

	section#history { padding-top: 50px; }

	section#history .line.line-2, 
	section#history .line.line-3 { padding-top: 25px; }

	section#history .line .text .text-about-us h1 {
	    font-size: 25px;
	    line-height: 27px;
        margin-bottom: 20px;
	    margin-top: 0;
	}

	section#history .line.line-1 .img, 
	section#history .line.line-2 .img, 
	section#history .line.line-3 .img { padding-right: 0 }

	section#history .line.line-1 .img .img-about-us:before,
	section#history .line.line-2 .img .img-about-us:before,
	section#history .line.line-3 .img .img-about-us:before {
		left: unset;
        right: 20px;
	    width: 190px;
	    top: -30px;
	    bottom: unset;
	}

	section#history .line .img .img-about-us { 
		height: 265px; 
		margin-top: 35px;
	}

	section#timeline .time-img { 
		background-image: url(/img/timeline-rs.png);
		height: 1030px;
	}

	section#galery { 
		padding-bottom: 20px; 
	    padding-top: 40px;
	}

	section#galery .header-title h1 {
	    font-size: 25px;
	    line-height: 27px;
	}

	section#galery #images .img { 
	    margin-bottom: 30px;
		width: 45.5%; 
	}

	section#content .team-items .item {
	    margin-bottom: 25px;
	    margin-top: 20px;
	}

	section#content .health-insurances .insurance {
	    margin-left: 0;
	    margin-right: 0;
	}

	section#content .profile { padding-bottom: 0; }

	section#content .profile .line .img {
	    height: 200px;
	    margin-bottom: 30px;
	    margin-right: 0;
	    width: 100%;
	}

	section#content .profile .line .text { width: 100%; }

	section#content .profile .line .text p { margin-bottom: 0; }

	section#content .profile hr {
	    margin-bottom: 50px;
	    margin-top: 20px;
	}

	section#content .team-cards .card-doc {
	    height: unset;
	    padding: 25px 35px 40px;
	    float: unset;
        text-align: center;
	    width: 96.5%;
	}

	section#content .team-cards .card-doc .img-profile {
	    float: unset;
        margin: 10px auto 0;
	}

	section#content .team-cards .card-doc .main-infos {
	    float: unset;
	    padding-top: 25px;
	    width: 100%;
	}

	section#content .team-cards .card-doc .main-infos span { margin-bottom: 10px; }

	section#content .team-cards .card-doc .info-graduation {
	    float: unset;
	    padding-top: 0px;
	}

	section#content .team-cards .card-doc .info-graduation p.institution { margin-left: 0 }

	.accordion .collapse .item {
		margin-bottom: 25px;
	    margin-top: 20px;
	    width: 94%;
	}

	section#content-article .img { 
		height: 165px; 
	    margin-bottom: 40px;
		padding-left: 0;
	}

	section#content-article .text { padding-right: 0; }

	section#header-post { 
	    background-position: center top 100px;
		height: 350px; 
	}

	section#content-post { padding-top: 40px; }

	section#content-post .header-title h1 {
	    font-size: 25px;
	    line-height: 27px;
	}

	section#galery-post {
	    padding-bottom: 40px;
	    padding-top: 40px;
	}

	section#recommended-posts .posts .card { width: 46.5%; }

	section#content-article .icons-list { grid-template-columns: repeat(3, 1fr); }

}

@media only screen and (max-width: 768px) {

	#menu-cel #infos-menu { margin-top: 65px; }

	section#servicos #slide #slide-cards { width: 95%; }

}

/*Celulares*/
@media only screen and (max-width: 680px) {

	header#top #bar-header ul { width: 35%; }

	section#inicio .fullbanner .item-banner .content-banner h1 { width: 100%; }

	section#inicio .fullbanner .item-banner .content-banner p { width: 80%; }

	section#servicos #slide #slide-cards { width: 87%; }

	section#blog { padding-bottom: 25px; }

	section#blog .posts .card { width: 94.5%; }

	section#blog .posts .card .card-body { height: 105px; }

	section#contato #side-right .inputs { padding-right: 0 }

	section#contato #side-right .inputs select, 
	section#contato #side-right .inputs input[type="text"], 
	section#contato #side-right .inputs input[type="email"],
	section#contato #side-right .inputs textarea { font-size: 12px; }

	section#galery #images .img {
	    margin-bottom: 10px;
	    width: 94.5%;
	}

	section#content .team-items .item { width: 94.5%; }

	section#content .team-cards .card-doc { width: 94.5%; }

	section#recommended-posts .posts .card { width: 94.5%; }

	section#recommended-posts .posts .card .card-body { height: 105px; }

	section#blog #nav-control nav#pagination { padding-top: 50px; }

	section#content-article .truebeam-img {
	    height: 600px;
	}

	section#content-article .icons-list { grid-template-columns: repeat(2, 1fr); }

	#warning-modal {
	    overflow: unset;
	    padding: 25px 15px 35px;
	    position: relative;
	    width: 95%;
	}

	#warning-modal h4 { 
		line-height: 28px;
		font-size: 23px;
	}

	#warning-modal hr {
	    margin-bottom: 20px;
	    margin-top: 25px;
	}

	#warning-modal .img#covid-img-1 {
	    bottom: -40px;
	    height: 100px;
	    left: unset;
	    right: 25px;
	    width: 100px;
	}

	#warning-modal .img#covid-img-2 { display: none; }

}

/** iPhone 6/7/8 Plus */
@media only screen and (max-width: 425px) {

	.container {
	    padding-right: 20px;
	    padding-left: 20px;
	}

	header#top #bar-header ul { width: 50%; }

	#menu-cel #infos-menu {
	    margin-top: 20px;
	    padding: 30px 45px 40px;
	}

	section#destaques .item {
		padding-left: 20px;
		padding-right: 20px;
	}

	section#sobre-nos .img-about { padding-right: 0 }

	section#servicos #slide .header img { margin-left: 0 }

	section#servicos #slide #slide-cards { width: 95%; }

	section#blog .posts .card, 
	section#recommended-posts .posts .card {
	    margin-left: 20px;
	    margin-right: 20px;
        width: 89.5%
	}

	section#blog .posts .card .card-body,
	section#recommended-posts .posts .card .card-body { height: 125px; }

	section#blog .header img { height: 100px; }

	section#contato .container {
		padding-right: 5px;
    	padding-left: 5px;
	}

	section#contato #side-right .file-drop-area { width: 100%; }

	footer#bottom #info-contact .infos ul li { padding-left: 35px; }

	section#galery #images .img {
	    margin-left: 20px;
	    margin-right: 20px;
        width: 89.5%
	}

	section#content .team-items .item {
	    margin-left: 20px;
	    margin-right: 20px;
	    width: 89.5%;
	}

	section#content .header-title {
	    padding-left: 20px;
	    padding-right: 20px;
	}

	section#content .profile {
		padding-left: 20px;
	    padding-right: 20px;
	}

	section#content .team-cards h1 {
	    padding-left: 20px;
	    padding-right: 20px;
	}

	section#content .team-cards .card-doc {
	    margin-left: 20px;
	    margin-right: 20px;
	    width: 89.5%;
	}

	.accordion .collapse .item { margin-left: 0; }

	.accordion .collapse .item .img-profile { float: unset; }

	.accordion .collapse .item .main-infos { float: unset; }

	section#content-article .icons-list { grid-template-columns: 1fr; }

}

/** Galaxy S5 / Galaxy Note 3 */
@media only screen and (max-width: 360px) {

	#menu-cel li { padding: 20px 45px 20px 45px }

	#menu-cel li i { left: 25px; }

	header#top #bar-header ul { width: 55%; }
  	
	section#inicio .fullbanner .item-banner.video .content-banner { top: 40%; }

	section#blog .posts .card, 
	section#recommended-posts .posts .card { width: 89%; }

	section#content .team-items .item .main-infos { width: 70%; }

	.accordion .collapse .inputs { padding-right: 0; }

	.accordion .collapse form { margin-top: 15px; }

}

/** iPhone 5 e SE **/
@media only screen and (max-width: 320px) {

	#menu-cel #infos-menu .contact .text { width: 83%; }

	header#top #bar-header ul { width: 65%; }

	section#inicio .fullbanner .item-banner.video .content-banner { top: 35%; }

	section#inicio .fullbanner .item-banner .content-banner h1 { font-size: 30px; }

	section#servicos #slide #slide-cards { width: 94%; }

	section#servicos #slide #slide-cards .item-banner .card { 
	    height: 390px;
	    width: 260px; 
	}

	section#servicos #slide #slide-cards .item-banner .card .card-img { min-height: 150px; }

	section#servicos #slide #slide-cards .item-banner .card .card-body { padding: 10px 20px; }

	section#blog .posts .card, 
	section#recommended-posts .posts .card { width: 87%; }

	section#blog .posts .card .card-img,
	section#recommended-posts .posts .card .card-img { height: 160px; }

	section#blog .posts .card .card-body, 
	section#recommended-posts .posts .card .card-body { height: 135px; }

	section#blog .posts .card .card-body .card-title,
	section#recommended-posts .posts .card .card-body .card-title { font-size: 16px; }

	section#mapa { height: 380px; }

	footer#bottom #links .nav-menu .content-nav-menu ul.ajuda {
	    column-count: 1;
	    column-gap: 30px;
	    -webkit-column-count: 1;
	    -moz-column-count: 1;
	}

	section#content .team-items .item .img-profile { margin-right: 15px; }

	section#content .team-cards .card-doc { width: 87% }

	section#galery #images .img { width: 87%; }

	.accordion .toggle-accordion button { padding-left: 25px; }

}