@charset "UTF-8";

/* CSS - Santé | Codificado por: Ueek Agência Digital | Ano: 2020 */

/* Header */
section#header-page {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 410px;
}

section#content {
	margin-top: 250px;
	padding-bottom: 60px;
	padding-top: 60px;
}

section#content .header-title { 
	padding-bottom: 70px; 
	padding-left: 15px;
	padding-right: 15px;
}

section#content .header-title h1 {
	color: #747474;
	font-size: 30px;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 0;
    margin-top: 30px;
	padding-bottom: 20px;
	position: relative;
}

section#content .header-title h1:before {
	content: "";
	position: absolute;
	left: 3px;
	bottom: 0;
	width: 20px;
	border-bottom: 3px solid #B6C72C;
}

section#content .header-title p {
	color: #747474;
	font-size: 14px;
	line-height: 28px;
    margin-bottom: 0;
    margin-top: 35px;
}

section#content .team-cards h1 {
	color: #57733B;
	font-size: 18px;
	font-weight: bold;
	line-height: 19px;
	margin-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;
}

section#content .team-cards .card-doc {
    background: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.13);
    float: left;
    /*height: 315px;*/ /*com formação*/
    height: 225px; /*sem formação*/
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    padding: 25px 80px 30px 30px;
    width: 47.5%;
}

section#content .team-cards .card-doc .img-profile {
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    float: left;
    height: 160px;
    margin-right: 40px;
    position: relative;
    width: 160px;
}

section#content .team-cards .card-doc .img-profile .watermark {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 185px;
    left: -13px;
    position: absolute;
    top: -14px;
    width: 185px;
}

section#content .team-cards .card-doc .main-infos {
    float: left;
    padding-top: 25px;
    width: 50%;
}

section#content .team-cards .card-doc .main-infos h2 {
	color: #747474;
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
}

section#content .team-cards .card-doc .main-infos h5 {
	color: #B6C72C;
	font-size: 15px;
	line-height: 22px;
}

section#content .team-cards .card-doc .main-infos span {
	color: #747474;
	display: block;
	font-size: 11px;
	line-height: 13px;
}

section#content .team-cards .card-doc .main-infos a {
	color: #3C69DE;
	font-size: 10px;
	font-weight: bold;
	line-height: 22px;
}

section#content .team-cards .card-doc .main-infos a i {
	color: #57733B;
	margin-right: 5px;
}

section#content .team-cards .card-doc .info-graduation {
	float: left;
	padding-top: 25px;
}

section#content .team-cards .card-doc .info-graduation h5 {
	color: #747474;
	font-size: 11px;
	font-weight: 600;
	line-height: 22px;
	text-transform: uppercase;
}

section#content .team-cards .card-doc .info-graduation p {
	display: block;
	font-weight: 600;
	line-height: 13px;
	margin-bottom: 0;
}

section#content .team-cards .card-doc .info-graduation p.graduation {
	color: #747474;
	font-size: 14px;
	line-height: 22px;
}

section#content .team-cards .card-doc .info-graduation p.graduation svg { margin-right: 10px; }

section#content .team-cards .card-doc .info-graduation p.institution {
	color: #B6C72C;
	font-size: 11px;
	line-height: 22px;    
	margin-left: 16px;
	text-transform: uppercase;
}

section#content .profile {
	padding-bottom: 45px;
	padding-left: 15px;
	padding-right: 15px;
}

section#content .profile .line .img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 175px;
    margin-right: 75px;
    width: 25%;
}

section#content .profile .line .text { 
	float: left; 
    width: 65%;
}

section#content .profile .line .text h3 {
	color: #2C5629;
	font-size: 18px;
	font-weight: 600;
	line-height: 19px;
	margin-bottom: 25px;
}

section#content .profile .line .text p {
	color: #747474;
	font-size: 14px;
	line-height: 25px;
}

section#content .profile hr {
	margin-bottom: 40px;
	margin-top: 25px;
}

section#content .team-items h1 {
	color: #57733B;
	font-size: 18px;
	font-weight: bold;
	line-height: 19px;
    margin-bottom: 35px;
	padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;
}

section#content .team-items .item {
    background: #FFFFFF;
    float: left;
    height: 80px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 35px;
    margin-top: 30px;
    width: 30.5%;
}

section#content .team-items .item .img-profile {
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    float: left;
    height: 70px;
    margin-right: 20px;
    position: relative;
    width: 70px;
}

section#content .team-items .item .img-profile .watermark {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 85px;
    left: -8px;
    position: absolute;
    top: -8px;
    width: 85px;
}

section#content .team-items .item .main-infos {
    float: left;
    width: 70%;
}

section#content .team-items .item .main-infos h2 {
	color: #747474;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
}

section#content .team-items .item .main-infos h5 {
	color: #B6C72C;
	font-size: 14px;
	line-height: 14px;
    margin-bottom: 0;
}

section#content .team-items .item .main-infos a {
	color: #3C69DE;
	font-size: 10px;
	font-weight: bold;
	line-height: 22px;
}

section#content .team-items .item .main-infos a i {
	color: #57733B;
	margin-right: 5px;
}

section#content .health-insurances .insurance {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
    float: left;
    height: 55px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 35px;
    margin-top: 30px;
}

/****** Destaques *******/

section#destaques-cancer-center {
	background: linear-gradient(0deg, rgba(228, 228, 228, 0.3) 0%, rgba(228, 228, 228, 0) 100%);
	margin-top: 250px;
	padding-bottom: 40px;
	padding-top: 60px;
}

section#destaques-cancer-center .container { padding: 0 }

section#destaques-cancer-center .item { 
	float: left; 
	text-align: center;
}

section#destaques-cancer-center .item .img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
}

section#destaques-cancer-center .item h2 {
	color: #747474;
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    padding-top: 20px;
}

section#destaques-cancer-center .item p {
    color: #747474;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
}

section#destaques-cancer-center .item a {
	color: #B6C72C;
	font-size: 12px;
    font-weight: 600;
	line-height: 16px;
}

/***** Destaques ******/

section#history {
    padding-bottom: 20px;
    padding-top: 80px;
}

section#history .line.line-2,
section#history .line.line-3 { padding-top: 70px; }

section#history .line.line-1 .img,
section#history .line.line-2 .img,
section#history .line.line-3 .img { padding-left: 0 }

section#history .line.line-2 .text { 
	padding-left: 0;
	padding-right: 40px;
}

section#history .line.line-2 .text .text-about-us h1,
section#history .line.line-3 .text .text-about-us h1 { margin-top: 10px; }

section#history .line .img .img-about-us {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 390px;
    position: relative;
}

section#history .line.line-1 .img .img-about-us { margin-top: 35px; }

section#history .line.line-1 .img .img-about-us:before {
    background: #B6C72C;
    content: "";
    height: 30px;
    left: 65px;
    position: absolute;
    top: -30px;
    width: 350px;
}

section#history .line.line-2 .img .img-about-us:before {
	background: #B6C72C;
    content: "";
    height: 30px;
    right: 35px;
    position: absolute;
    bottom: -30px;
    width: 350px;
}

section#history .line.line-3 .img .img-about-us:before {
	background: #B6C72C;
    content: "";
    height: 30px;
    left: 20px;
    position: absolute;
    bottom: -30px;
    width: 350px;
}

section#history .line .text .text-about-us h1 {
	color: #747474;
	font-size: 30px;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 0;
    margin-top: 30px;
	padding-bottom: 20px;
	position: relative;
}

section#history .line .text .text-about-us h1:before {
	content: "";
	position: absolute;
	left: 3px;
	bottom: 0;
	width: 20px;
	border-bottom: 3px solid #B6C72C;
}

section#history .line .text .text-about-us p {
    color: #747474;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 25px;
    margin-top: 30px;
}

section#timeline {
    padding-bottom: 80px;
    padding-top: 20px;
}

section#timeline .header-title { padding-bottom: 70px; }

section#timeline .header-title h1 {
	color: #747474;
	font-size: 30px;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 0;
	padding-bottom: 20px;
	position: relative;
}

section#timeline .header-title h1:before {
	content: "";
	position: absolute;
	left: 3px;
	bottom: 0;
	width: 20px;
	border-bottom: 3px solid #B6C72C;
}

section#timeline .time-img {
	background-image: url(/img/timeline.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 170px;	
}
	
section#galery {
	background-color: rgba(228, 228, 228, 0.3);
	padding-bottom: 90px;
	padding-top: 70px;
}

section#galery .header-title { 
	padding-bottom: 35px; 
	padding-left: 15px;
	padding-right: 15px;
}

section#galery .header-title h1 {
	color: #747474;
	font-size: 30px;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 0;
	padding-bottom: 20px;
	position: relative;
}

section#galery .header-title h1:before {
	content: "";
	position: absolute;
	left: 3px;
	bottom: 0;
	width: 20px;
	border-bottom: 3px solid #B6C72C;
}

section#galery #images { padding-top: 5px; }

section#galery #images .img {
	float: left;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 230px;	  
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;  
	width: 30.5%;
}

section#content-article { 
	margin-top: 250px;
	padding-top: 60px; 
}

section#content-article .header-title { padding-bottom: 35px; }

section#content-article .header-title h1 {
	color: #747474;
	font-size: 30px;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 0;
	padding-bottom: 20px;
	position: relative;
}

section#content-article .header-title h2 {
    color: #747474;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 0;
    padding-bottom: 20px;
    position: relative;
}

section#content-article .header-title h1:before {
	content: "";
	position: absolute;
	left: 3px;
	bottom: 0;
	width: 20px;
	border-bottom: 3px solid #B6C72C;
}

section#content-article .content-title {
	color: #747474;
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	margin-bottom: 25px;
}

section#content-article .long-text { padding-bottom: 55px }

section#content-article .long-text p {
	color: #747474;
	font-size: 14px;
	line-height: 28px;
}

section#content-article .long-text h2,
section#content-article .long-text h3,
section#content-article .long-text h4,
section#content-article .long-text h5,
section#content-article .long-text h6 {
	color: #747474;
}

section#content-article .text { padding-left: 0 }

section#content-article .text p {
	color: #747474;
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 0;
    padding-right: 65px;
}

section#content-article .img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 275px;
	padding-right: 0;
}

section#content-article .long-text ul {
    padding-left: 30px;
    color: #747474;
    font-size: 14px;
    line-height: 28px;
}

section#content-article .long-text a {
	color: #b6c72c;
}

section#content-article .truebeam-img {
	background-image: url(/img/truebeam.png?vs=2);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 760px;	
}

section#content-article .icons-list {
	display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 100px;
}

section#content-article .icons-list .item {
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 30px 20px;
    text-align: center;
}

section#content-article .icons-list .item:hover { text-decoration: none; }

section#content-article .icons-list .item:hover .icon { transform: scale(1.1); }

section#content-article .icons-list .item:hover .name { color: #b6c72c; }

section#content-article .icons-list .item .icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex: none;
	height: 65px;
    margin-bottom: 17px;
    width: 65px;
}

section#content-article .icons-list .item .name {
    color: #747474;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
}

section#content .advantages .icon {
	background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
    height: 62px;
    width: 62px;
}

section#content .advantages .text { width: 85% }

section#content .advantages .text p {
	color: #747474;
	font-size: 14px;
	line-height: 25px;
    margin-bottom: 45px;
    padding-left: 30px;
}

section#blog #nav-control { text-align: center; }

section#blog #nav-control nav#pagination {
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 75px;
}

section#blog #nav-control nav#pagination ul { margin-bottom: 0; }

section#blog #nav-control nav#pagination ul { display: inline-block; }

section#blog #nav-control nav#pagination ul .pag {
    border-radius: 30px;
	color: #000000;
    cursor: pointer;
    float: left;
    font-size: 14px;
    line-height: 30px;
    list-style: none;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    width: 30px;
}

section#blog #nav-control nav#pagination ul .pag.active,
section#blog #nav-control nav#pagination ul .pag:hover { 
    background: #B6C72C;  
    color: #fff;
}   

section#header-post {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 410px;
}
	
section#content-post { padding-top: 60px; }

section#content-post .header-title { padding-bottom: 35px; }

section#content-post .header-title h1 {
	color: #747474;
	font-size: 30px;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 0;
	padding-bottom: 20px;
	position: relative;
}

section#content-post .header-title h1:before {
	content: "";
	position: absolute;
	left: 3px;
	bottom: 0;
	width: 20px;
	border-bottom: 3px solid #B6C72C;
}

section#content-post .long-text {
	color: #747474;	font-size: 14px;
	line-height: 28px;
	margin-bottom: 0;
	padding-bottom: 55px;
}

section#content-post .long-text p,
section#content-post .long-text p span {
	color: #747474;
	font-family: "Open Sans"!important;
	font-size: 14px;
	line-height: 28px;
}

section#content-post .long-text ul { 
	color: #747474!important;
	font-family: "Open Sans"!important;
	font-size: 14px!important;
	line-height: 28px!important;
	padding-left: 30px; 
}

section#content-post .text {
	color: #747474;
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 0;
	padding-left: 0;
    padding-right: 65px;
}

section#content-post .img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 275px;
	padding-right: 0;
}

section#content-post h5,
section#content-post h6 {
	font-weight: bold;
    margin-bottom: 15px;
    margin-top: 30px;
}

section#content-post img { width: 100%!important; }

section#content-post a { color: #b6c72c; }

section#galery-post {
	background-color: rgba(228, 228, 228, 0.3);
	padding-bottom: 90px;
	padding-top: 70px;
}

section#galery-post .header-title { 
	padding-bottom: 35px; 
	padding-left: 15px;
	padding-right: 15px;
}

section#galery-post .header-title h1 {
	color: #747474;
	font-size: 30px;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 0;
	padding-bottom: 20px;
	position: relative;
}

section#galery-post .header-title h1:before {
	content: "";
	position: absolute;
	left: 3px;
	bottom: 0;
	width: 20px;
	border-bottom: 3px solid #B6C72C;
}

section#galery-post #images { padding-top: 5px; }

section#galery-post #images .img {
	float: left;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 230px;	  
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;  
	width: 30.5%;
}

section#recommended-posts {
	padding-bottom: 60px;
	padding-top: 25px;
}

section#recommended-posts h5 {
	color: #747474;
	font-size: 18px;
    font-weight: 600;
	line-height: 22px;
	margin-bottom: 0;
}

section#recommended-posts .posts .card {
    background: #FFFFFF;
    border: none;
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.13);
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    width: 30.5%;
}

section#recommended-posts .posts .card .card-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    height: 230px;
}

section#recommended-posts .posts .card .card-body,
section#recommended-posts .posts .card .card-footer { padding: 20px 30px; }

section#recommended-posts .posts .card .card-body { height: 140px; }

section#recommended-posts .posts .card .card-body .card-title {
	color: #747474;
	font-size: 18px;
    font-weight: 600;
    /*height: 65px;*/
	line-height: 22px;
	margin-bottom: 15px;
    padding-bottom: 20px;
    position: relative;
}

section#recommended-posts .posts .card .card-body .card-title:after {
    background: #B6C72C;
    border-radius: 5px;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 20px;
}

/*section#recommended-posts .posts .card .card-body hr {
	border-bottom: 3px solid #B6C72C;
    border-radius: 5px;
    width: 20px;
}*/

/*section#recommended-posts .posts .card .card-body .card-text {
	color: #747474;
    font-size: 14px;
	line-height: 22px;
    max-height: 40px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

section#recommended-posts .posts .card .card-body .card-text:before {
    content:'';
    width:100%;
    height:100%;    
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 10px, white);
}*/

section#recommended-posts .posts .card .card-footer {
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	border-top: 1px solid #E4E4E4;
}

section#recommended-posts .posts .card .card-footer span { display: block; }

section#recommended-posts .posts .card .card-footer span.author { 
	color: #B6C72C;
	font-size: 11px;
	font-weight: 600;
	line-height: 22px;
}

section#recommended-posts .posts .card .card-footer span.date { 
	color: #747474;
	font-size: 9px;
	line-height: 22px;
	text-transform: uppercase;
}

.accordion .toggle-accordion {
    line-height: 56px;
    padding: 0;
}

.accordion .toggle-accordion button {
    cursor: pointer;
    background: #fff0;
    border: none;
    color: #838383;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    width: 100%;
}

.accordion .toggle-accordion button[aria-expanded="true"]:hover,
.accordion .toggle-accordion button[aria-expanded="true"] {
	color: #B6C72C;
	font-weight: bold;
}

.accordion .toggle-accordion button:focus { outline: none; }

.accordion .toggle-accordion i {
    color: #B6C72C;
    font-size: 12px;
    margin-right: 30px;
}

.accordion .collapse.show {
    padding-bottom: 30px;
    padding-top: 15px;
}

.accordion .collapse .subtitle-accordion {
	color: #838383;
    float: left;
    font-size: 14px;
	line-height: 15px;
	text-transform: uppercase;
    width: 100%;
}

.accordion .collapse .text-accordion { float: left; }

.accordion .collapse .link-accordion {
    color: #57733B;
    display: block;
    font-size: 14px;
    line-height: 38px;
    text-decoration-line: underline;
}

.accordion .collapse .item {
    background: #FFFFFF;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 35px;
    margin-top: 30px;
    width: 40%;
}

.accordion .collapse .item .img-profile {
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    float: left;
    height: 130px;
    margin-right: 20px;
    position: relative;
    width: 130px;
}

.accordion .collapse .item .img-profile .watermark {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 150px;
    left: -10px;
    position: absolute;
    top: -12px;
    width: 150px;
}

.accordion .collapse .item .main-infos {
    float: left;
    margin-top: 15px;
}

.accordion .collapse .item .main-infos h2 {
	color: #747474;
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
}

.accordion .collapse .item .main-infos h5 {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 22px;
    color: #B6C72C;
}

.accordion .collapse .item .main-infos span {
	color: #747474;
	display: block;
	font-size: 11px;
	line-height: 13px;
}

.accordion .collapse .item .main-infos a {
	color: #3C69DE;
	font-size: 10px;
	font-weight: bold;
	line-height: 22px;
}

.accordion .collapse .item .main-infos a i {
	color: #57733B;
	margin-right: 5px;
}

.accordion .collapse form {
	margin-top: 30px;
}

.accordion .collapse .inputs {
    float: left;
    padding-left: 0;
    padding-right: 30px;
}

.accordion .collapse .inputs label {
	color: #747474;
	font-size: 10px;
	line-height: 22px;
	margin-bottom: 0;
	text-transform: uppercase;
}

.accordion .collapse .inputs select, 
.accordion .collapse .inputs input[type="text"], 
.accordion .collapse .inputs input[type="email"] {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #E8E8E8;
    color: #747474;
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 15px;
    padding: 0px;
    width: 100%;
}

.accordion .collapse .inputs select { font-style: italic; }

.accordion .collapse .inputs textarea {
    background-color: #fff;
    border: 1px solid #E8E8E8;
    color: #747474;
    font-size: 11px;
    line-height: 22px;
    margin-top: 10px;
    min-height: 200px;
    padding: 15px;
    width: 100%;
}

.accordion .collapse .inputs .btn {
	background: #B6C72C; 
    box-shadow: none;
    color: #3D5722;
    margin-top: 30px;
    text-decoration: none;
}

.accordion .collapse .inputs .btn:hover {
	background: transparent;
    color: #3D5722;

    box-shadow:inset 0px 0px 0px 1.5px #3D5722;
    -webkit-box-shadow:inset 0px 0px 0px 1.5px #3D5722;
    -moz-box-shadow:inset 0px 0px 0px 1.5px #3D5722;
}

#error {
    padding-bottom: 80px;
    padding-top: 330px;
}

#error .content {
    align-items: center;
	display: flex;
    flex-direction: column;
    text-align: center;
}

#error .content img {
    filter: grayscale(1);
    flex: none;
    height: 140px;
    margin-bottom: 50px;
    opacity: 0.5;
}

#error .content h1 {
    color: #838383;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

#error .content h3 {
	font-size: 18px;
    color: #838383;
    line-height: 29px;
    margin-bottom: 15px;
}

#error .content a {
	color: #b6c72c;
	font-size: 17px;
}