br { clear: both; }

#marca-login {
	margin: 40px 0 20px;
	height: 150px;
}

#marca-adm {
	color: #999;
	cursor: default;
	display: block;
	font-weight: 900;
	line-height: 52px;
	padding-left: 20px;
	text-transform: uppercase;
}

.thumb {
    background-color: #666;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    height: 130px;
    line-height: 130px;
    margin-bottom: 30px;    
    margin-top: 30px;    
    margin-right: 15px;    
    text-align: center;
    width: 130px;
    float: left;
    position: relative;
}

.thumb-inline {
    background-color: #666;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    height: 130px;
    line-height: 130px;
    margin-bottom: 30px;
    text-align: center;
    width: 130px;
}

.tag-interesse {
    display: inline-block;
    margin: 0 5px 10px;
}

.tag-interesse input[type='checkbox'] { display: none; }

.remove-beneficio { cursor: pointer; }

.publicado { color: #1cc88a; }
.agendado  { color: #f6c23e; }
.invisivel { color: #36b9cc; }

#rounded-avatar {
    background: #ccc;
    border-radius: 50%;
    height: 100px;
    margin-bottom: 20px;
    width: 100px;
}

#carregando, #sucesso, #erro, #erro2, #campo_quantidade, 
#campo_valor, #accordion, #mostrar-interesses { display: none; }

.restantes {
	font-size: 12px;
	font-style: italic;
}

.btn-add {
    margin: -20px;
    margin-top: 0;
}

.btn-remove-image {
    color: #fff;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 2;
}

.btn-copy-image-url {
    bottom: -38px;
    color: #fff;
    left: 0;
    right: 0;
    position: absolute;

}

.input-url-to-copy {
    border: #fff;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    width: 1px;
}

.center-i     { text-align: center; }
.toggle-table { margin-left: -12px; }

.toolbar-logo {
    /*filter: brightness(0) invert(1);*/
    width: 60px; 
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    padding: 10px;
}

