/*
 * A tentativa de lib que tu respeita para editor de publicação HTML em blocos
 * Copyright 2019 Started by Ueek Ag
 * Author: @daboit
 */

#container-conteudo {
    background: #fff;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    color: #bbb;
    cursor: default;
    min-height: 70px;
    text-align: center;
    padding: 0 10px 10px;
}

#container-conteudo span#mensagem-apoio {
    display: inline-block;
    padding-top: 20px;
}

#container-conteudo .bloco-conteudo {
    background: url(../img/move-arrows.png) no-repeat #fff;
    background-position: 10px 10px;
    background-size: 12px;
    height: auto !important;
    padding: 20px;
    width: 100% !important;
}

#container-conteudo .bloco-conteudo input, 
#container-conteudo .bloco-conteudo textarea {
    border: 0;
    line-height: normal;
    padding: 10px;
    width: 100%;
}

#container-conteudo .bloco-conteudo textarea {
    height: 250px;
    margin-bottom: 0;
    resize: none;
}

#container-conteudo .bloco-conteudo input:focus,
#container-conteudo .bloco-conteudo textarea:focus { outline: none; }

#container-conteudo .bloco-conteudo .thumbnail-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
}

.bloco-conteudo .remove {
    background: #e24859;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    margin-top: -10px;
    position: absolute;
    right: 30px;
    width: 30px;
    z-index: 2;
}

.bloco-conteudo .remove:hover { background: #d13042; }

.bloco-conteudo .input { display: none; }

.bloco-conteudo {
    background: #fff;
    border: 1px dashed #d1d3e2;
    border-radius: .35rem;
    color: #858796;
    cursor: pointer;
    line-height: 50px;
    min-height: 50px;
    text-align: center;
    margin-top: 10px;
    min-width: 176px !important;
}

.bloco-conteudo:hover { border: 1px dashed #858796; }

.select-tag {
    background: #eee;
    border-radius: .35rem;
    cursor: pointer;
    margin: 5px 2px;
    padding: 5px 7px;
}

.select-tag:hover { 
    background: #858796;
    color: #fff;
}

.voucher-selected {
    margin-top: 10px;
}