body {
  overflow-x: hidden;
}

#menu-responsive {
    background: #fff;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 2;

    -o-transition: top 400ms ease;
    -moz-transition: top 400ms ease;
    -webkit-transition: top 400ms ease;
    transition: top 400ms ease;
}

#menu-responsive .col-logo { 
  float: left;
  padding-left: 0 
}

#menu-responsive .col-logo img {
    height: 80px;
}

.conteudo-menu{
  box-sizing: border-box;
  margin: 0 0px 0 69px;
  position: relative;
}

/* Funcionamento do menu */
[role=navigation]{
  display: block; /* O DISPLAY DEVE FICAR NONE NO DESKTOP E TABLER E SÓ ALTERAR PARA BLOCK NO CELULAR */

	/*display: block;  SÓ ESTÁ BLOCK AGORA PRA DEMONSTRAÇÃO */
}

#menuToggle {
  display: block;
  float: right;
  margin-left: 11.05%;
  margin-top: 30px;
  position: relative;
  user-select: none;
  z-index: 9999;
  -webkit-user-select: none;
}

/*
.topo-menu{
  background: #FFFFFF;
  box-shadow: 0px 0px 49px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
  height: 143px;
  width: 100%;
}

.topo-menu img{
  margin-top: 29px;
}
*/

#menuToggle input{
  cursor: pointer;
  display: block;
  height: 32px;
  left: -5px;
  opacity: 0; /* hide this */
  position: absolute;
  top: -7px;
  width: 40px;
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #b6c72c;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
  z-index: 1;
}

#menuToggle span:first-child { transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) { transform-origin: 0% 100%; }

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu-cel {
  box-sizing: border-box;
  display: none;
  background: #3D5722;
  position: fixed;
  height: 100vh;
  padding-top: 120px;
  width: 100%;
  top: 0;
  right: 0;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  overflow-y: scroll;
}

#menu-cel li {
  box-sizing: border-box;
  list-style: none;
  text-align: left;
  line-height: 22px;
  padding: 20px 45px 20px 65px;
  font-size: 16px;
  position: relative;
  color: #FFFFFF;
}

#menu-cel li.active {
  color: #B6C72C;
  font-weight: bold;
}

#menu-cel li i {
  color: #b6c72c;
  font-size: 13px;
  position: absolute;
  top: 40%;
  left: 45px;

  -webkit-transition: -webkit-transform 200ms ease-in-out;
  -moz-transition: -ms-transform 200ms ease-in-out;
  -ms-transition: -ms-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
}

#menu-cel a[aria-expanded='true'] i { transform: rotate(90deg); }

#menu-cel .first-dropdown {
  background-color: #344E19;
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu-cel .first-dropdown li {
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #b6c72c;
}
    
#menu-cel .second-dropdown {
  background: #2E4813;
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu-cel .second-dropdown li {
  margin-left: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #b6c72c;
}

#menu-cel #infos-menu {
  background: #B6C72C;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
  margin-top: 40px;
  padding: 30px 45px 80px;
}

#menu-cel #infos-menu .contact { margin-bottom: 45px; }

#menu-cel #infos-menu .contact i { 
  color: #3D5722;
  float: left;
  font-size: 24px;
  margin-right: 15px; 
  margin-top: 10px;
}

#menu-cel #infos-menu .contact .text { float: left; }

#menu-cel #infos-menu .contact .text p { 
  color: #FDFDFD;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  margin-bottom: 5px;
}

#menu-cel #infos-menu .contact .text a { 
  color: #3D5722;
  display: block;
  font-size: 14px;
  line-height: 19px;
}